{{yield}}

<div class="wrapper">
  <form {{action 'finish' on='submit'}}>
    <div class="actions">
      <a href="#" {{action 'finish'}}>Click me when you're done!</a>
    </div>

    {{view 'complaining-text-view' value=thought.body key-press="typed"}}
  </form>
</div>
