<section class="thoughts">
  <div class="wrapper">
    <h1>
      Thoughts

      {{link-to 'new' 'thoughts.new' class='button'}}
    </h1>

    {{#each controller as |thought|}}
      <div class="thought">
        {{thought.body}}
      </div>
    {{/each}}
  </div>
</section>

{{outlet}}
